
.background-principal{
    background-image: url('../images/liquid-cheese.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--white);
    
}

.background-white{
    background: var(--white);
    color: var(--cor-primaria);
    
}

.prime-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section-site{
    min-height: 100vh;  /*view height */
}


body .complete-width{ /* apenas para sobreescrever, especifidade baixa */
    width: 100%;
    flex: 1 1 100%;
}