@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;  
*/

.intro-content{  /*Uso de display Grid mas poderia ser usado o FLEX */
    position: relative;
   /* top: -6.5rem; */
    display: grid;
    grid-template-columns: 1fr 2fr; /* deixando o GRID do texto menor que a imagem */
    align-items: stretch;
    gap: var(--gap);
    min-height: 100vh;
   
}

/*  Dentro de uma coluna da grid, colocando um FLEX  */

.introduction-text-content, .introduction-image{ 
    display: flex;
    flex-direction: column; /* ou flex-flow:column-wrap  */
    justify-content: center;

}


.introduction-image img{
    max-width: 100%;
    height: auto;
    height: 100vh;
}

.mid-content{
    max-width: 64rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-one-content{
   
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center; 
    min-height: 100vh;
}
.grid-main-head{
    
    margin-bottom: 3rem;
}

.grid-description{
    padding-bottom: 6rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    
}

.grid h3{
    font-size: 3rem;
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-2%,2%) scale(1.1); /*scale serve para aumentar o tamanho
    -poderia usar o rotate para as imagens girar*/
}


/* SOCIAL MEDIAS*/
.content-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 


.content-contact a{
    text-decoration: none;
    text-transform: none;
    color: var(--cor-primaria);
}

.conteudo img{
    display: inline-block;
}

.conteudo h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
}

.conteudo h3 a{
    text-shadow: -2px -3px black;
    color: white;
    background-image: linear-gradient(90deg,white 50%,transparent 50%);
    display: inline;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position:100% 5vh ;
    transition:  1s;
}



.conteudo h3 a:hover{
   background-position: 0% 4.9vh;
}


/* CONTACT US */

.contact-us-form{
    grid-column: span 2;  /*abramger outra coluna */
}

.contact-us-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend{
    font-style: italic;
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
}

.form-info{
    min-width: 320px; /*320px poderia ir no flex, daria no mesmo */
    flex: 1 1;
}

.form-info label{
    display: block;
}

.form-info input, textarea{
    border: 2px solid black;
    background: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
}

.form-info button{
    border: 3px solid black;
    background: none;
    color: var(--cor-primaria);
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.form-info button:hover{
    background: var(--cor-primaria);
    color: var(--white);
    border:3px solid var(--white) ;
}

.form-info ::placeholder{
    color: rgba(128, 128, 128, 0.37);
}

#main-footer{
    font-style: italic;
    font-size: 1.7rem;
    text-align: center;
}

#main-footer p{
    text-align: center;
    margin: 0;
   
}


#main-footer a{
    text-decoration: none;
    color: var(--white);
    transition: all 300ms ease;
}

#main-footer a:hover{
    text-decoration: none;
    color: black;
    
}

@media (max-width:800px) {
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }

    .gallery-img{
        width: 100%;
        max-width: auto;
        max-height: auto;
    }
}

